In [13]:
import pandas as pd #STRG + Enter
import numpy as np

In [22]:
index = ["Berlin", "Madrid", "Rom"]
bevölkerung = pd.Series(data=[3.6,3.2,2.8], index=index)
fläche = pd.Series(data=[892,604,1285], index=index)
land = pd.Series(data=["Deutschland","Spanien","Italien"], index=index)
sprache = pd.Series(data=["Deutsch","Spanisch",None], index=index)

my_dict = {'bevölkerung': bevölkerung,
          'fläche': fläche,
          'land': land,
          'sprache': sprache}
df=pd.DataFrame(my_dict)
df

        bevölkerung  fläche         land   sprache
Berlin          3.6     892  Deutschland   Deutsch
Madrid          3.2     604      Spanien  Spanisch
Rom             2.8    1285      Italien      None

In [5]:
df.shape

(3, 4)

In [7]:
df.dtypes

bevölkerung    float64
fläche           int64
land            object
sprache         object
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Berlin to Rom
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   bevölkerung  3 non-null      float64
 1   fläche       3 non-null      int64
 2   land         3 non-null      object
 3   sprache      2 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 120.0+ bytes

In [10]:
df.describe()

       bevölkerung       fläche
count          3.0     3.000000
mean           3.2   927.000000
std            0.4   341.846457
min            2.8   604.000000
25%            3.0   748.000000
50%            3.2   892.000000
75%            3.4  1088.500000
max            3.6  1285.000000

In [11]:
df.isnull()

        bevölkerung  fläche   land  sprache
Berlin        False   False  False    False
Madrid        False   False  False    False
Rom           False   False  False     True

In [12]:
df.isnull().sum()

bevölkerung    0
fläche         0
land           0
sprache        1
dtype: int64

#Frage 2

#Frage 2

# Frage 2

In [14]:
np.where(df.isna())

(array([2], dtype=int64), array([3], dtype=int64))

In [21]:
df.iloc[3, 2] = "italienisch"

IndexError: iloc cannot enlarge its target object

In [19]:
df

        bevölkerung  fläche         land      sprache
Berlin          3.6     892  Deutschland      Deutsch
Madrid          3.2     604      Spanien     Spanisch
Rom             2.8    1285      Italien  itelienisch

In [23]:
df["sprache"] =df["sprache"].fillna("italienisch")

In [24]:
df

        bevölkerung  fläche         land      sprache
Berlin          3.6     892  Deutschland      Deutsch
Madrid          3.2     604      Spanien     Spanisch
Rom             2.8    1285      Italien  italienisch

# Frage 3

In [25]:
Stadt = ["New York"]
bevölkerung = pd.Series(data=[8.5], index=Stadt)
fläche = pd.Series(data=[784], index=Stadt)
land = pd.Series(data=["USA"], index=Stadt)
sprache = pd.Series(data=["englisch"], index=Stadt)

my_dict = {'bevölkerung': bevölkerung,
          'fläche': fläche,
          'land': land,
          'sprache': sprache
          }
df2=pd.DataFrame(my_dict)
df2

          bevölkerung  fläche land   sprache
New York          8.5     784  USA  englisch

In [26]:
df3 = pd.concat([df, df2])

In [27]:
df3

          bevölkerung  fläche         land      sprache
Berlin            3.6     892  Deutschland      Deutsch
Madrid            3.2     604      Spanien     Spanisch
Rom               2.8    1285      Italien  italienisch
New York          8.5     784          USA     englisch

# Frage 4

In [31]:
df3["EU"] = df3["land"] != "USA"
df3

          bevölkerung  fläche         land      sprache     EU
Berlin            3.6     892  Deutschland      Deutsch   True
Madrid            3.2     604      Spanien     Spanisch   True
Rom               2.8    1285      Italien  italienisch   True
New York          8.5     784          USA     englisch  False

# Frage 5

In [32]:
df3['Region']=np.where(df3["EU"]==True, "Europe", "Americas")
df3

          bevölkerung  fläche         land      sprache     EU    Region
Berlin            3.6     892  Deutschland      Deutsch   True    Europe
Madrid            3.2     604      Spanien     Spanisch   True    Europe
Rom               2.8    1285      Italien  italienisch   True    Europe
New York          8.5     784          USA     englisch  False  Americas