In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
file_names = ['AAPL', 'GOOG', 'META', 'MSFT']

data_frames = {}

for file_name in file_names:
    file_path = f'data/{file_name}.csv'
    data_frames[file_name] = pd.read_csv(file_path)
    
aapl_data = data_frames['AAPL'][['Date', 'Close']].rename(
    columns = {'Close':'AAPL'})
goog_data = data_frames['GOOG'][['Date', 'Close']].rename(
    columns = {'Close':'GOOG'})
meta_data = data_frames['META'][['Date', 'Close']].rename(
    columns = {'Close':'META'})
msft_data = data_frames['MSFT'][['Date', 'Close']].rename(
    columns = {'Close':'MSFT'})

In [9]:
merged_data_AG = pd.merge(aapl_data, goog_data, on='Date', how='outer')
merged_data_AGM = pd.merge(merged_data_AG, meta_data, on='Date', how='outer')
df_final = pd.merge(merged_data_AGM, msft_data, on='Date', how='outer')
df_final = df_final.reset_index(drop=True)
df_final.head()

         Date      AAPL  GOOG  META  MSFT
0  1980-12-12  0.128348   NaN   NaN   NaN
1  1980-12-15  0.121652   NaN   NaN   NaN
2  1980-12-16  0.112723   NaN   NaN   NaN
3  1980-12-17  0.115513   NaN   NaN   NaN
4  1980-12-18  0.118862   NaN   NaN   NaN

In [10]:
df_final.to_csv("data/stocks.csv", sep = ",", decimal = ".")